.header {
  padding: 10px;
}

.header__add-task {
  display: flex;
  margin-bottom: 10px;
}

.header__input {
  flex-grow: 1;
}

.header__add-task button {
  margin-left: 8px;
}

.header__filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header__filter h3 {
  margin: 0 8px 0 0;
  font-size: 1em;
  font-weight: normal;
}

.header__filter button {
  margin-left: 8px;
}

.header__tasks div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
