.header {
  padding: 10px;
}

.header__add-task {
  display: flex;
  margin-bottom: 10px;
}

.header__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 3px solid gray;
  border-radius: 10px;
}


.header__add-task button {
  margin-left: 8px;
  background-color: green;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 10px;
}

.header__filter {
  padding-top: 50px;
  align-items: center;
  margin-bottom: 10px;
}


.header__filter-title{

}

.header__filter-input{
  padding:5px;
  border-radius: 10px;
  border: 2px solid black;
}


.header__filter-button{
  padding: 10px;
  margin-left: 10px;
  background-color: chocolate;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.header__tasks-task{
  display: flex;
  width: 400px;
  align-items: center;
}


.header__tasks-button{
  display: flex;
  margin-left: auto;
  background-color: rgb(160, 0, 0);
  border: none;
  color: white;
}